{% extends "layout.html" %}
{% block title %}
Real Time Energy
{% endblock %}
  {% block content %}


  {{ geohash }}

  {% for list in list_of_lists %}

  {{ list }}

  {% endfor %}

  <form action="/" method="POST">
      <div class="input-group">
           <label for="geohash">geohash:</label>
           <!-- The keys that we'll read in our app all come from the "name" attributes on our form inputs. -->
           <input id="geohash" type="text" name="geohash"><br>
          <input type="submit" value="Enter">
      </div>
  </form>
  <iframe src="http://localhost:8050/dash/" width=700 height=600>
<p>
  {{ emailinput }}
  {{ nameinput }}
  </p>

  {% endblock %}
